.Footer {
    background-color: #1F2833;
    color: #66FCF1;
    padding: 0.5rem;
    bottom: 0;
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-around;
    height: 2.5rem;
}

.Footer a {
    color: #802BB1;
}

.Footer a:hover {
    color: #66FCF1;
    text-decoration: underline;
}

.Footer span {
    padding: 0 0.5rem 0 0.5rem;
}