.Header {
    background-color: #eee;
    padding: 0.5rem;
    height: 3.5rem;
}

.Header .btn-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Header .active {
    box-shadow: none !important;
    user-select: none !important;
}

.Header .search-bar {
    flex-basis: 60%;
}

.Header .misc-buttons {
    margin-left: 0.5rem;
}