.Header {
    background-color: #eee;
    padding: 0.5rem;
}

.Header .btn-toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Header a {
    margin: 0.25rem;
}
.Header .search-bar {
    flex-basis: 60%;
}

.Header .misc-buttons {
    margin-left: 0.5rem;
}