.Search {
    margin-bottom: 3rem;
}

.Search .search-results {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.Search .preview {
    color: inherit;
    text-decoration: inherit;
}

.Search .preview:hover {
    color: inherit;
    text-decoration: inherit;
}