.Search .search-results {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
}

.Search a {
    color: inherit;
    text-decoration: inherit;
}

.Search a:hover {
    color: inherit;
    text-decoration: inherit;
}